@implements IDisposable
@using System.Threading;
@using CV_Blazor.Models;
@using CV_Blazor.Services

@inject IStringLocalizer<Resources> Localizer

<div class="card project-card"
     @onmouseenter="MouseEnter"
     @onmouseleave="MouseLeave"
     style="cursor:pointer;">
    <div class="card-inner">
        <div class="project-image-container">
            <img src="@_currentImage" class="card-img-top" alt="@Localizer[$"ps_{Project.Slug}_title"]" loading="lazy"/>
        </div>
    
        <div class="card-body">
            <div class="card-text-content">
                <h5 class="card-title">@Localizer[$"ps_{Project.Slug}_title"]</h5>
                <p class="card-text">@Localizer[$"ps_{Project.Slug}_desc"]</p>
            </div>
    
            <div class="mt-auto">
                <a class="btn btn-primary btn-hover-effect" href="@Project.ProjectLink" target="_blank" @onclick:stopPropagation>
                    <i class="@GetProjectLinkIconClass() me-2"></i> @Localizer["ps_seeProject"]
                </a>
            </div>
            
            <div class="project-technologies">
                @foreach (var tech in Project.Technologies)
                {
                    var techName = tech.Split('-')[0];
                    <i class="devicon-@tech" title="@(char.ToUpper(techName[0]) + techName.Substring(1))"></i>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public Project Project { get; set; } = null!;

    private string? _currentImage;
    private int _currentIndex;
    private Timer? _slideshowTimer;

    protected override void OnInitialized()
    {
        _currentImage = Project.MainImage;
    }

    private void MouseEnter()
    {
        if (Project.SecondaryImages.Count == 0)
            return;

        _currentIndex = -1;
        ShowNextImage();

        _slideshowTimer = new Timer(async void (state) =>
        {
            await TimerCallback();
        }, null, 1500, 1500);
    }

    private void ShowNextImage()
    {
        _currentIndex = (_currentIndex + 1) % Project.SecondaryImages.Count;
        _currentImage = Project.SecondaryImages[_currentIndex];
    }

    private async Task TimerCallback()
    {
        // Invocamos el cambio de imagen y la actualización de la UI en un solo paso.
        await InvokeAsync(() => { ShowNextImage(); StateHasChanged();});
    }

    private void MouseLeave()
    {
        _slideshowTimer?.Dispose();

        _currentImage = Project.MainImage;
        StateHasChanged();
    }

    private string GetProjectLinkIconClass()
    {
        if (string.IsNullOrEmpty(Project.ProjectLink))
        {
            return "fas fa-link-slash"; // Icono por si no hay link
        }
        if (Project.ProjectLink.Contains("play.google.com"))
        {
            return "fab fa-google-play";
        }
        if (Project.ProjectLink.Contains("itch.io"))
        {
            return "fab fa-itch-io";
        }
        if (Project.ProjectLink == ("https://maximobrunetti.com.ar"))
        {
            return "fa-solid fa-star";
        }
        return "fas fa-globe"; // Icono por defecto para web
    }

    public void Dispose()
    {
        _slideshowTimer?.Dispose();
    }
}