@using CV_Blazor.Services
@using System.Globalization

@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Resources> Localizer
@inject NavigationManager NavigationManager
@inject LocalizationService LocService

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <!-- Nombre -->
        <a class="navbar-brand brand-name" href="#top">Máximo Brunetti</a>

        <!-- Menú y botones juntos en desktop -->
        <div class="d-flex align-items-center order-lg-2">
            <button class="btn btn-link nav-icon me-2 no-underline" @onclick="ChangeLanguage">
                @CurrentLanguageName
                <i class="fas fa-globe"></i>
            </button>

            <button class="btn btn-link nav-icon me-2" @onclick="ToggleTheme">
                <i class="fas @(isDarkMode ? "fa-sun fa-fw" : "fa-moon fa-fw")"></i>
            </button>

            <!-- Botón toggle hamburguesa -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- Links del menú -->
        <div class="collapse navbar-collapse justify-content-start order-lg-1" id="navbarNav">
            <ul class="navbar-nav ms-3">
                <li class="nav-item"><a class="nav-link" href="#about-me">@Localizer["nav_AboutMe"]</a></li>
                <li class="nav-item"><a class="nav-link" href="#projects">@Localizer["nav_Projects"]</a></li>
                <li class="nav-item"><a class="nav-link" href="#resume">@Localizer["nav_Resume"]</a></li>
                <li class="nav-item"><a class="nav-link" href="#skills">@Localizer["nav_Skills"]</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">@Localizer["nav_Contact"]</a></li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private string CurrentLanguageName =>
        CultureInfo.CurrentUICulture.Name == "es-ES" ? "EN" : "ES";

    private async Task ChangeLanguage()
    {
        var currentCulture = CultureInfo.CurrentUICulture.Name;
        var newCulture = currentCulture == "es-ES" ? "en-US" : "es-ES";

        // guardo en localStorage
        await JSRuntime.InvokeVoidAsync("blazorCulture.set", newCulture);

        // cambio cultura en caliente
        LocService.SetCulture(newCulture);
    }

    private bool isDarkMode = false;

    private async Task ToggleTheme()
    {
        isDarkMode = !isDarkMode;
        await JSRuntime.InvokeVoidAsync("toggleDarkMode", isDarkMode);
    }
}
